html {
  scroll-behavior: smooth;
  font-family: Roboto-regular;
}
* {
  margin: 0;
}
@font-face {
  font-family: 'Roboto' ;
  src: url(Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto-regular';
  src: url(../Roboto/Roboto-Regular.ttf) format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-black';
  src: url(../Roboto/Roboto-Black.ttf) format(truetype);
  font-weight: extra-bold;
}

@font-face {
  font-family: 'Roboto-light-italics';
  src: url(../Roboto/Roboto-LightItalic.ttf) format(truetype);
  font-weight: light-italic;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color:#1F2937;
  color:  #E5E7EB;
  padding: 2rem;
}

.span1-header {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 0.2rem;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.nav1-links {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  list-style: none;
  font-size: 18px;
}

.nav1-links  a{
  text-decoration: none;
  color: #E5E7EB;
}
.nav1-links a:hover {
  text-decoration: underline;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}
.moveable-box {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: 500px;
}
.text-center {
  text-align: center;
  margin-top: 1rem;
}
.image1{
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 50px;
}
main {
  margin-top: 366px;
  padding: 2rem;
}
.image2 {
  margin-top: 16px;
  margin-bottom: 10px;
  width: 500px;
  height: 290px;
  border: 2px solid limegreen;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.articles h2 {
  font-weight: 600;
  font-size: 24px;
}
.articles{
  letter-spacing: 0.5px;
}
.articles p {
  opacity: 0.8;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  font-size: 30px;
  align-items: center;
  margin-left: -2rem;
  margin-right: -2rem;
  padding-left: 20%;
  padding-right: 20%;
  padding-top:2rem;
  padding-bottom:2rem;
  opacity: 0.8;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.blue-box {
  background-color: #3882F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 125px;
  color: #E5E7EB;
  border-radius: 10px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
button {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  background-color: #3882F6;
  color: #E5E7EB;
}
.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: center;
  font-size: 24px;
}

