@font-face {
  font-family: 'Roboto' ;
  src: url(Roboto/Roboto-Bold.ttf);
}
#whole_body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}
.header {
  font-size: 18px;
  font-weight: #e5e7eb;
}
.div1-header-container {
  height: 800px; /*header height*/
  background: #1f2937;
  padding: 10px;
  margin: 50px;
}
.nav1-links {
  list-style: none;
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: end;
}
.nav1-links a {
  text-decoration: none;
  padding: 5px 50px;
}
.nav1-links a:hover {
  background-color: yellowgreen;
  border-radius: 20px;
 }
.nav1-links a:visited {
  color: #f0f0f0;
}
.nav1-links a:active {
  color: red;
}
.span1-header {
  color: #f0f0f0ff;
  font-size: 30px;
  position: relative;
  top: -50px;
}
.title1{
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  display: inline;
}
.moveable-box {
  background: #1f2937;
  font-size: 48px;
  font-weight: #f9faf8;
  position: absolute;
  left: 200px;
  top: 100px;
  width: 650px;
  height: 170px;
  margin: 30px;
  /* padding: 50px; */
}
.image1 {
  width: 400px;
  height: 200px;
  position: absolute;
  border: 5px solid yellowgreen;
  left: 900px;
  top: 200px;
}
.h1-tag {
  padding-left: 30px;
  display: flex;
  justify-content: center;
}
.but3 {
  padding: 20px;
  margin: 20px;
  border: 5px solid yellowgreen;
}
.image2 {
  height: 500px;
  padding: 10px;
}
.h2 {
  padding-left: 30px;
  font-family: 'Roboto';
}
.articles {
  margin: 30px;
  font-family: 'Roboto';
}
.footer {
  width: auto;
  height: 130px;
  background: #1f2937;
  justify-content: center;
  padding: 10px;
}
.but2 {
  margin: auto;
  display: flex;
  justify-content: end;
}
.footer-text {
  color: #f0f0f0;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.quote {
  font-family: 'light italic';
  font-size: 36px;
  background: #e5e7eb;
  margin: 50px;
  height: 100px;
  padding: 100px;
}
.blue-box {
  background: rgb(0, 132, 255);
  color: white;
  padding: 10px;
  margin: 50px;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: center;
}
.blue-box-text {
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
}
.but4 {
  font-family: 'Roboto';
  background: rgb(0, 132, 255);
  padding: 50px 30px;
  font-size: 16px;
  color: black;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  border: inset;
  text-decoration: none;
  }
