main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: #E5E7EB;
    width: 500px;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    margin-top: 100px;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 10px;
}
input{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid;
}
#Feedback {
    width: 300px;
    border-radius: 10px;
}
#ratings {
    display: flex;
    flex-direction: row;
    width: 300px;
}
#btn-submit {
    width: 300px;
    border-radius: 10px;
    height: 40px;
    border: none;
    background-color: #3882F6;
    color: #E5E7EB;
    margin-bottom: 16px;
}
#btn-submit:hover {
    opacity: 0.8;
}
.footer-txt {
    padding-bottom: 16px;
}