html {
    scroll-behavior: smooth;
    font-family: 'Roboto';
}
body {
    margin: 0;
}
.header {
    color: #E5E7EB;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.menu a {
    color: #E5E7EB;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}
.nav-header {
    background-color: #1F2937;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
main {
    margin-top: 70px;
}
.section-1 {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
}
.section-1 h2 {
    font-size: 48px;
}
.section-1 div {
    width: 400px;
}
.section-1 p {
    font-size: 20px;
}
.img-1 {
    width: 480px;
    height: 300px;
    margin-bottom: 100px;
} 
.menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.text-center {
    text-align: center;
}
aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

figure {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
figcaption {
    padding: 10px 10px 10px 10px;
}

.btn{
    background-color: #3882F6;
    height: 35px;
    width: 100px;
    color: #F9FAF8;
    border: none;
    border-radius: 10px;
    margin-bottom: 16px;
}
.btn:hover{
    opacity: 0.8;
}
.img {
    width:300px;
    height: 200px;
}
.footer {
    background-color:#1F2937;
}
.footer-txt {
    font-size: 24px;
    color: #E5E7EB;
    padding-top: 16px;
    margin: 0;
}
.btn-footer {
    border-radius: 50%;
    background-color: #3882F6;
    color: #E5E7EB;
    height: 30px;
    width: 30px;
    border: none;
}
.a-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
