@font-face {
    font-family: 'Roboto-regular';
    src: url(../Roboto/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-black';
    src: url(../Roboto/Roboto-Black.ttf) format(truetype);
    font-weight: extra-bold;
}

@font-face {
    font-family: 'Roboto-light-italics';
    src: url(../Roboto/Roboto-LightItalic.ttf) format(truetype);
    font-weight: light-italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-regular;
}
.fourth-section {
	color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16vh 12vw;
	margin: 0;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 7px;
    padding: 3% 7%;
    border: none;
}
.link-button {
    text-decoration: none;
}
h1 {
	font-family: monospace;
	font-size: 24px;
	Color: #f9faf8;
}

h2 {
	font-size: 48px;
	font-family: "roboto-bold";
	Color: #f9faf8;
	margin-left: 90px;
}

header {
	background-color: #1f2937;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#home {
	background-color: #1f2937;
}

.hero {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.hero p {
	font-size: 18px;
	color: #e5e7eb;
	margin-left: 100px;
}

.hero .cta-button {
	margin-left: 100px;

}

.image img {
	height: 300px;
	width: 480px;
	border-radius: 0%;
	margin-right: 100px;
}
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    margin-top: 50px;
}

.second-section h3 {
    font-family: 'Roboto-black', sans-serif;
    font-size: 40px;
    color: #1F2937;
}

.container {
    display: flex;
	justify-content: center;
    gap: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards img {
    width: 180px;
    height: 180px;
    border-radius: 7px;
}

figcaption {
    font-weight: bold;
    margin-top: 10px;
}


nav {
	display: flex;
	align-items: center;
}
.container p {
	font-size: 18px;
	line-height: 1.6;
}

.cta-button {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #3882f6;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
    border: 1px solid white;
    margin-left: 32px;
}

.cta-button:hover {
	background-color:#f9faf8;
    color: #1F2937;
}


.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16vh 12vw;
    font-family: 'Roboto-light-italics', sans-serif;
    text-align: justify;
    color: #1F2937;
    font-size: 36px;
}

footer {
	background-color: #1f2937;
	color: #fff;
	padding: 20px;
	text-align: center;
}
ul {
    width: 360px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    padding-left: 12px;
    font-family: Roboto-regular, sans-serif;
    font-size: 18px;
}
.logo-link {
    color: #E5E7EB;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}
